.site-header {
  background-color: #000000
}

.site-header a {
  color: #9e9e9e;
  transition: ease-in-out color 0.15s;
}

.site-header a:hover {
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: 960px;

}

p {
  font-family: monospace;
}
