.site-header {
  background-color: #000000
}

.site-header a {
  color: #9e9e9e;
  transition: ease-in-out color 0.15s;
}

.site-header a:hover {
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: 960px;

}

.memory-display {
  font-family: monospace;
}

.memory-pc {
  background-color: grey;
}

.registers p {
  font-family: monospace;
}

#code {
  width: 100%;
  padding: 15px;
  font-family: monospace;
  resize: none;
}

#clock-frequency {
  text-align: right;
}
